<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sidebar</title>
 <!-- BOOTSTRAP -->
 <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
        <nav class="navbarr navbar-expand-lg px-4">
                <a class="navbar-brand" href="#"><img src="img/logo.svg" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
                  <span class="toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="myNav">
                  <ul class="navbar-nav mx-auto text-capitalize">
                      {{#if user}}
                      
                      <li class="nav-item active">
                      <a class="nav-link" href="/">Home</a>
                      </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/users/profile">Profile</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                    <div class="cart-btn" onclick="myFnc(this)">
                      <a href="#">
                       <span class="nav-icon">
                         <i class="fas fa-cart-plus"></i>
                       </span>
                       <div class="cart-items"></div>
                      </a>                    
                 </div>
                    
                  {{else}}
                    <
                    </div>
                      
                  </ul>
                
              </nav>

     

        <div class="container">
            <header>
                  
                <nav class="navbar" id="navID">
                        
                
                        <ul class="side-nav">
                                <li class="nav-item">   
                                    <a href="#" class="site-name">Daily Tuition</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Pricing</a>
                                </li>
                                <li class="nav-item">
                                        <a href="#" class="nav-link">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-instagram"></i>
                                    <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>    
                </nav>
            </header>
        </div>
 <script>
 
 function myFnc(e){
                e.classList.toggle("show");
 
                var elem = document.getElementById("navID"),
                style = window.getComputedStyle(elem),
                top = style.getPropertyValue("right");
 
                if(top == "0px"){
                    elem.style.right = "-260px";
                }else{
                    elem.style.right = "0px";
                }
 
            }

    
   

 </script>
 
</body>
</html>