<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Fletes Medina</title>
</head>

<style>


</style>
<body>
        
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container">
          <a href="/" class="navbar-brand">
            Comunicate con nosotros! WhatsApp 144353465654
          </a>
        
    </nav> 
              
            <section class="carl">
            <div class="container">
                <div class="row top-flete mt-5">
                    <div class="col-md-6 mt--5">
                      <div class="logo "></div>
                   </div>
                   <div class="col-md-6">
                      <p></p>
                   </div>
                 </div>
              </div>
            </section>
          
                  <div class="banner "></div>
          </div>
        </div>
            
            <section id="clear">
                    <!--why u come here start-->
   
   <div class="container-fluid pt-5 bg-gray pb-5">
    <div class="container">
      <div class="row top-heading mt-5">
        <div class="col-md-12">
          <p>Servicios que ofrecemos</p>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-sm-6">
          <h3 class="hero-heading text-center">Fletes Medina</h3>
          <p class="hero-paragraph">
              Nuestros años en el Rubro avalan nuestra experiencia.
              En el servicio de Fletes y Mini Fletes, asi como mundanzas contamos con profesionales altamente capacitados para el traslado de sus pertenencias.
              Tambien todo nuestro personal esta asegurado y cuentan con CNRT,
              para su mayor seguridad. <br/>
       
          
            </p>
          
        </div>
        
        <div class="col-sm-6">
          <img src="img/mudanza2.jpg" class="img-fluid hero-img" alt="img2">
        </div>
      </div>
      
      
      <div class="row mt-4">
          <div class="col-sm-6">
              <img src="img/mudanza1.jpeg" class="img-fluid hero-img" alt="img2">
            </div>
        <div class="col-sm-6">
          <h3 class="hero-heading text-center">Fletes y Mini-fletes</h3>
          <p class="hero-paragraph">
            Nuestra flota de vehiculos está equipada con sogas, mantas, zorras , listones y ganchos para asegurar la carga.
El personal de peones es especializado en el manejo de muebles, electrodomesticos y todo lo transportable y asesorara al cliente con el tipo de embalaje que seria el correcto.
También ofrecemos:

<p class="hero-paragraph">• Peón de mudanza especializados en carga y descarga</p>
<p class="hero-paragraph">• Servicio por escalera</p>
<p class="hero-paragraph">• Fletes de todo tipo</p>
<p class="hero-paragraph">• Mudanzas al interior</p> <br/>
          </p>
          
        </div>
       
        
      </div>
      
      


      <div class="row mt-4">
       
        
        <div class="col-sm-6">
          <h3 class="hero-heading text-center">Mudanzas</h3>
          <p class="hero-paragraph">
            As a missional Cafe focused on lasting options to poverty, we turn profits into hope. We do this by creating a product you love, serving you with a smile, as well as offering all of our profits to individuals in need.<br>
              As a missional Cafe focused on lasting options to poverty, we turn profits into hope. We do this by creating a product you love, serving you with a smile, as well as offering all of our profits to individuals in need.<br>
              As a missional Cafe focused on lasting options to poverty, we turn profits into hope. <br/>
              <p class="hero-paragraph">• Peón de mudanza especializados en carga y descarga</p>
              <p class="hero-paragraph">• Servicio por escalera</p>
              <p class="hero-paragraph">• Fletes de todo tipo</p>
              <p class="hero-paragraph">• Mudanzas al interior</p>
          
            </p>
          
        </div>
        <div class="col-sm-6">
            <img src="img/mudanza3.jpg" class="img-fluid hero-img" alt="img2">
          </div>
    </div>
    
  </div>
        
            </section>
        

    <section class="medina">

            <div class="container mt-5">
                    
                    <div class="wrapper animated bounceInLeft">
                      <div class="company-info">
                        <h3>Contáctenos y le responderemos a la brevedad</h3>
                        <ul>
                          <li><i class="fa fa-road"></i> 44 Something st</li>
                          <li><i class="fa fa-phone"></i> (555) 555-5555</li>
                          <li><i class="fa fa-envelope"></i> test@acme.test</li>
                        </ul>
                      </div>
                      <div class="contact">
                        <h3>Contacto</h3>
                        <form action="/email" method="POST">
                          <p>
                            <label>Nombre y apellido</label>
                            <input type="text" name="name">
                          </p>
                          
                          <p>
                            <label>Email</label>
                            <input type="email" name="email">
                          </p>
                         
                          <p class="full">
                            <label>Consulta</label>
                            <textarea name="message" rows="5"></textarea>
                          </p>
                          <p class="full">
                            <button>Enviar</button>
                          </p>
                        </form>
                      </div>
                    </div>
                  </div>
    </section>
    
</body>
</html>