<%include partials/_header%>


<div class="container-fluid servicios"  data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="text-center col-md-12"><h1>SERVICIOS</h1></div>
                <div class="underline mt-3"></div>
            </div>
            
           <div class="row">
                 
                 </div>
           </div>		
        </div>
</div>



<!----- Impositivo ------>



<div class="abou container ">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 style="color: dodgerblue">CONTABLE</h1>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-6">
                    <img class="img-fluid" src="img/serviciosuno.jpg" alt="img">

            </div>
            
            <div class="col-md-6">
                    <div class="row mt-3 pb-4">
                            <div class="col-md-6">
                                <ul style="list-style-type: none; margin: 0px; padding: 0px;">
                                    <li><i class="fa fa-check"></i>Praesent vestibulum </li>
                                    <li><i class="fa fa-check"></i>Aenean nonummy hendrerit</li>
                                  <li><i class="fa fa-check"></i>Vivamus eget nibh</li>
                                  <li><i class="fa fa-check"></i>Etiam cursus leo vel metus</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul style="list-style-type: none; margin: 0px; padding: 0px;">
                                    <li><i class="fa fa-check"></i>Praesent vestibulum </li>
                                    <li><i class="fa fa-check"></i>Aenean nonummy hendrerit</li>
                                  <li><i class="fa fa-check"></i>Vivamus eget nibh</li>
                                  <li><i class="fa fa-check"></i>Etiam cursus leo vel metus</li>
                                </ul>
                            </div>
                        </div>
            </div>
        </div>
    </div>   
    
        
<!----- Aduanero ------>


      
<div class="about container ">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 style="color: dodgerblue">ADUANERO</h1>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-6">
                    <div class="row mt-3 pb-4">
                            <div class="col-md-6">
                                <ul style="list-style-type: none; margin: 0px; padding: 0px;">
                                    <li><i class="fa fa-check"></i>Praesent vestibulum </li>
                                    <li><i class="fa fa-check"></i>Aenean nonummy hendrerit</li>
                                  <li><i class="fa fa-check"></i>Vivamus eget nibh</li>
                                  <li><i class="fa fa-check"></i>Etiam cursus leo vel metus</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul style="list-style-type: none; margin: 0px; padding: 0px;">
                                    <li><i class="fa fa-check"></i>Praesent vestibulum </li>
                                    <li><i class="fa fa-check"></i>Aenean nonummy hendrerit</li>
                                  <li><i class="fa fa-check"></i>Vivamus eget nibh</li>
                                  <li><i class="fa fa-check"></i>Etiam cursus leo vel metus</li>
                                </ul>
                            </div>
                        </div>
            </div>
            
            <div class="col-md-6">
                    <img class="img-fluid" src="img/serviciosdos.jpg" alt="img">
            </div>
        </div>
    </div>   

    
                
<!----- contable ------>



                        <div class="aboutt container ">
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <h1 style="color: dodgerblue">IMPOSITVO</h1>
                                    </div>
                                </div>
                                <div class="row pt-5">
                                    <div class="col-md-6">
                                        <img class="img-fluid" src="img/servicioscuatro.jpg" alt="img">
                                    </div>
                                    
                                    <div class="col-md-6">
                                            <div class="row mt-3 pb-4">
                                                    <div class="col-md-6">
                                                        <ul style="list-style-type: none; margin: 0px; padding: 0px;">
                                                            <li><i class="fa fa-check"></i>Praesent vestibulum </li>
                                                            <li><i class="fa fa-check"></i>Aenean nonummy hendrerit</li>
                                                          <li><i class="fa fa-check"></i>Vivamus eget nibh</li>
                                                          <li><i class="fa fa-check"></i>Etiam cursus leo vel metus</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <ul style="list-style-type: none; margin: 0px; padding: 0px;">
                                                            <li><i class="fa fa-check"></i>Praesent vestibulum </li>
                                                            <li><i class="fa fa-check"></i>Aenean nonummy hendrerit</li>
                                                          <li><i class="fa fa-check"></i>Vivamus eget nibh</li>
                                                          <li><i class="fa fa-check"></i>Etiam cursus leo vel metus</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>   




  <%include partials/_footer%>
