



      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
     


      <footer>
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-4" style="color: #f9feff">
                <h4>Address:</h4>
        <p>México 313.<br/>
         Capital Federal.</p><br/>
         <p><i class="fa fa-envelope" aria-hidden="true"></i> : fedehessle@gmail.com</p>
       <p><i class="fa fa-phone" aria-hidden="true"></i> :+91 7396403672 </p>
       <p><i class="fa fa-facebook-square" aria-hidden="true"></i> : https://www.facebook.com/estidiohessle/ </p>
       <p><i class="fa fa-fax" aria-hidden="true"></i> : 123456789</p>
            </div>
            <div class="col-md-3" style="color: #f9feff">
              <ul>
                  <h4>Horarios en los que estamos abiertos:</h4>
                  <p>Lunes:   10am to 8pm</p>
                  <p>Martes:   10am to 8pm</p>
                  <p>Miércoles:   10am to 8pm</p>
                  <p>Jueves:   10am to 8pm</p>
                  <p>Viernes:   10am to 8pm</p>
              </ul>
            </div>
            
           
            <div class="col-md-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.587000937108!2d-58.370750584769986!3d-34.61460358045653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334d59ea23795%3A0x713e692e1c5f129f!2sM%C3%A9xico%20171%2C%20C1097%20AAC%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1581279045488!5m2!1ses-419!2sar" width="350" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              
            </div>
          </div>
        </div>
      </footer>
      
      <div class="container-fluid footer-copywrite">
        <div class="col-md-12 text-center lead">Estudio Hessle @ +91 7396403672</div>
      </div>

      

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="jss/wow.min.js"></script>
    <script>
    new WOW().init();
    </script>
    <script src="js/bootstrap.min.js"></script>
        
      </body>
  
      
      </html>